<nb-layout>
    <nb-layout-header fixed>
        <button nbButton routerLink="/" ghost status="primary"><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <div class="container">
            <div class="chosen-surah">
                {{chapter?.name_arabic}}
            </div>
            <div class="chosen-surah-en">
                {{chapter?.name_simple}}
            </div>
        </div>
    </nb-layout-header>
    <nb-layout-column>
        <div class="container surah-box">
            <button class="m-3" nbButton status="danger" (click)="reloadPage()"><nb-icon
                    icon="sync-outline"></nb-icon></button>
            <div class="d-flex justify-content-center align-items-center" *ngIf="isStartingWithBasmala(chapter?.id)">
                <img src="assets/images/basmala.svg" alt="basmala"></div>
            <div class="row">
                <div #verseNode class="verses-style d-flex flex-row-reverse m-3 flex-wrap">

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-items-center">
                <ng-template #dialog let-data let-ref="dialogRef">
                    <nb-card [status]="status">
                        <nb-card-header> {{data}} </nb-card-header>
                      </nb-card>
                </ng-template>

                <button nbTooltip="ارجع خطوة للوراء" nbTooltipPlacement="bottom" class="m-3" nbButton size="large" status="warning" (click)="redoClick()"><nb-icon icon="corner-left-up-outline"></nb-icon></button>
                <button nbTooltip="تحقق من صحة السورة" nbTooltipPlacement="bottom" class="m-3" nbButton size="large" status="info" (click)="checkChapter(dialog)"><nb-icon icon="checkmark-outline"></nb-icon></button>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4" *ngFor="let verse of shuffledVerses">
                    <button class="m-1 verse-choice" fullWidth nbButton size="large" status="primary" (click)="verseClick(verse)">
                        {{verse}} </button>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>