.chosen-surah {
    text-align: center;
    color: #3B9B6E;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Amiri';
}

.chosen-surah-en {
    text-align: center;
    color: #B5C2CD;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.surah-box {
    margin-bottom: 8rem;   
}

.verses-style {
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Amiri';
}